.title {
  text-align: center;
  margin-top: 0;
  color: white;
}
.card {
  background-color: black;
}
.card-svg {
  border: 1px solid rgb(200,200,200);
  box-shadow: 2px 15px 32px 0px rgba(0,0,0,0.23);
  margin: 20px 10px;
  text-align: center;
}
.card-svg img{
  width: 150px;
  height: 150px;
  margin: 30px 60px 10px 60px;
}
.card-svg h1{
  font-size: 20px;
  color: white;
}
.card-svg p{
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 30px;
  color: white
}
.card-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
